body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    background-color: #008080;
    color: #008080;
    padding: 10px;
    text-align: center;
}
.nav {
    background-color: #0000FF;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #0000FF;
    color: black;
}
.main {
    margin: 15px;
}
.footer {
    background-color: #0000FF;
    color: #0000FF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
